{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="find-password">
            <div class="title-area">
                <div class="top-area">
                    <h1 class="title">비밀번호 찾기</h1>
                </div>
            </div>
            <form class="form-area">
                <div>
                    <input type="text" id="f-username" placeholder="ID">
                </div>
                <div style="width: 314px">
                    <p class="check" id="f-password"></p>
                </div>
                <div class="btn-area">
                    <button type="submit" class="btn" id="btn-find-password">찾기</button>
                    <div style="margin-top: 7px">
                        <span class="btns"><a role="button" class="link" href="/users/sign-in">로그인</a></span>
                        <span class="btns"><a role="button" class="link" href="/users/find/username">ID 찾기</a></span>
                        <span class="btns"><a role="button" class="link" href="/users/sign-up">회원가입</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="/js/app/users.js"></script>
{{>layout/footer}}