<!DOCTYPE HTML>
<html>
<head>
    <title>나뮤니티</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {{#user}}
        {{user}}
        <a href="/users/sign-out" role="button" class="btn btn-primary">로그아웃</a>
    {{/user}}
    {{^user}}
        <a href="/users/sign-in" role="button" class="btn btn-primary">로그인</a>
        <a href="/users/sign-up" role="button" class="btn btn-primary">회원가입</a>
    {{/user}}
