{{>layout/header}}

<div>
    {{#failure}}
        <p>{{failure}}</p>
    {{/failure}}
    {{#success}}
        <p>{{success}}</p>
    {{/success}}
    <button type="button" class="btn btn-primary" id="btn-close-window">확인</button>
</div>

{{>layout/footer}}