{{>layout/header}}

<h1>작성 댓글</h1>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>댓글 번호</th>
        <th>글 제목</th>
        <th>댓글</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#comments}}
        <tr>
            <td>{{commentsId}}</td>
            <td><a href="/posts/read/{{postsId}}">{{title}}</a></td>
            <td><a href="/posts/read/{{postsId}}#cmt-{{commentsId}}">{{content}}</a></td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/comments}}
    {{^comments}}
        <tr>
            <td colspan="4">작성한 댓글이 없어요.</td>
        </tr>
    {{/comments}}
    </tbody>
</table>

{{>layout/footer}}