{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="my-page">
            <div class="title-area">
                <div class="top-area">
                    <a class="location" href="/"><img class="icon" src="/images/app/home.png" alt="HOME"></a>
                    <a class="location" href="/users/my-page">마이 페이지</a>
                    <span class="location">나의 활동</span>
                    <a class="location" href="/users/my-page/likes">좋아요</a>
                </div>
            </div>
            <div class="content-area">
                <div class="category-area">
                    <div>
                        <h2 class="title"><a href="/users/my-page">마이 페이지</a></h2>
                    </div>
                    <div>
                        <div class="content">
                            <h3 style="background-image: url(/images/app/smile.png);">나의 활동</h3>
                            <ul>
                                <li><a href="/users/my-page/posts">작성 글</a></li>
                                <li><a href="/users/my-page/comments">작성 댓글</a></li>
                                <li><a href="/users/my-page/likes">좋아요</a></li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3 style="background-image: url(/images/app/lock.png);">회원 정보</h3>
                            <ul>
                                <li><a href="/users/my-page/update/user-info">회원 정보 수정</a></li>
                                <li><a href="/users/my-page/update/password">비밀번호 변경</a></li>
                                <li><a href="/users/my-page/delete/account">회원 탈퇴</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="my-activity-area">
                    <div id="likes-area">
                        <div class="title">
                            <h2>좋아요</h2>
                            <ul>
                                <li>
                                    <a style="background-color: #C1DAC0;" href="/users/my-page/likes">전체</a></li><li>
                                    <a href="/users/my-page/likes/posts">게시글</a></li><li>
                                    <a href="/users/my-page/likes/comments">댓글</a></li>
                            </ul>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th class="like">좋아요</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{^likes}}
                                <tr>
                                    <td colspan="2">좋아요한 게시글/댓글이 없어요.</td>
                                </tr>
                            {{/likes}}
                            {{#likes}}
                                {{#comments}}
                                    <tr class="comments-area">
                                        <td>{{likesId}}</td>
                                        <td>
                                            <a href="/posts/read/{{postsId}}#cmt-{{commentsId}}"><pre>{{content}}</pre></a>
                                            <span class="date">{{createdDate}}</span>
                                            <div class="tit">
                                                <a href="/posts/read/{{postsId}}">{{title}}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {{/comments}}
                                {{^comments}}
                                    <tr class="posts-area">
                                        <td>{{likesId}}</td>
                                        <td>
                                            <div class="tit">
                                                <a href="/posts/read/{{postsId}}">{{title}}</a>
                                            </div>
                                            <span class="date">{{createdDate}}</span>
                                        </td>
                                    </tr>
                                {{/comments}}
                            {{/likes}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}