{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="my-page">
            <div class="title-area">
                <div class="top-area">
                    <a class="location" href="/"><img class="icon" src="/images/app/home.png" alt="HOME"></a>
                    <a class="location" href="/users/my-page">마이 페이지</a>
                    <span class="location">나의 활동</span>
                    <a class="location" href="/users/my-page/likes">좋아요</a>
                </div>
            </div>
            <div class="content-area">
                {{>layout/my-page-nav}}
                <div class="my-activity-area">
                    <div id="likes-area">
                        {{#contentsPage}}
                        <h2>좋아요</h2>
                        <ul>
                            <li>
                                <a href="/users/my-page/likes">전체</a></li><li>
                            <a href="/users/my-page/likes/posts">게시글</a></li><li>
                            <a style="background-color: #C1DAC0;" href="/users/my-page/likes/comments">댓글</a></li>
                        </ul>
                        <div class="checkbox-area">
                            <input type="checkbox" id="select-all"><label><a id="btn-delete-likes">삭제</a></label>
                            <span>전체 {{contents.totalElements}}개</span>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th class="like">좋아요</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{^contents.content}}
                                <tr>
                                    <td class="no-content" colspan="2">좋아요한 댓글이 없어요.</td>
                                </tr>
                            {{/contents.content}}
                            {{#contents.content}}
                                <tr class="comments-area">
                                    <td><input type="checkbox"><label>{{likesId}}</label></td>
                                    <td>
                                        <a href="/posts/read/{{postsId}}#cmt-{{commentsId}}"><pre>{{content}}</pre></a>
                                        <span class="date">{{author}} | {{createdDate}}</span>
                                        <div class="tit">
                                            <a href="/posts/read/{{postsId}}">{{title}}</a>
                                        </div>
                                    </td>
                                </tr>
                            {{/contents.content}}
                            </tbody>
                        </table>
                        {{>layout/pages}}
                        {{/contentsPage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
<script type="module" src="/js/app/my-page.js"></script>
<script src="/js/app/pages.js"></script>
</body>
</html>