{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="my-page">
            <div class="title-area">
                <div class="top-area">
                    <a class="location" href="/"><img class="icon" src="/images/app/home.png" alt="HOME"></a>
                    <a class="location" href="/users/my-page">마이 페이지</a>
                    <span class="location">나의 활동</span>
                    <a class="location" href="/users/my-page/posts">작성 글</a>
                </div>
            </div>
            <div class="content-area">
                {{>layout/my-page-nav}}
                <div class="my-activity-area">
                    <div class="posts-area">
                        {{#contentsPage}}
                        <h2>작성 글</h2>
                        <div class="checkbox-area">
                            <input type="checkbox" id="select-all"><label><a id="btn-delete-posts">삭제</a></label>
                            <span>전체 {{contents.totalElements}}개</span>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th class="no">번호</th>
                                <th class="post">게시글</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{^contents.content}}
                                <tr>
                                    <td class="no-content" colspan="2">작성한 글이 없어요.</td>
                                </tr>
                            {{/contents.content}}
                            {{#contents.content}}
                                <tr>
                                    <td><input type="checkbox"><label>{{id}}</label></td>
                                    <td>
                                        <div class="tit">
                                            <a href="/posts/read/{{id}}">{{title}}</a>
                                        </div>
                                        <span class="date">{{modifiedDate}} | <img class="view"> {{view}} | <img class="cmt"> {{comments}} | <img class="like"> {{likes}}</span>
                                    </td>
                                </tr>
                            {{/contents.content}}
                            </tbody>
                        </table>
                        {{#pages}}
                            <div>
                                {{#hasPrevious}}
                                    첫 페이지: <a role="button" name="page" style="cursor: pointer;">{{firstPage}}</a> | 이전 페이지: <a role="button" name="page" style="cursor: pointer;">{{previousPage}}</a> |
                                {{/hasPrevious}}
                                {{#displayPages}}
                                    {{#isCurrentPage}}
                                        | 현재 페이지: {{page}}
                                    {{/isCurrentPage}}
                                    {{^isCurrentPage}}
                                        | <a role="button" name="page" style="cursor: pointer;">{{page}}</a>
                                    {{/isCurrentPage}}
                                {{/displayPages}}
                                {{#hasNext}}
                                    | | 다음 페이지: <a role="button" name="page" style="cursor: pointer;">{{nextPage}}</a> | 마지막 페이지: <a role="button" name="page" style="cursor: pointer;">{{lastPage}}</a>
                                {{/hasNext}}
                            </div>
                        {{/pages}}
                        {{/contentsPage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
<script src="/js/app/my-page.js"></script>
<script src="/js/app/pages.js"></script>
</body>
</html>