{{>layout/header}}

<h1>회원 정보 수정</h1>
<div>
    <input type="hidden" id="id" value="{{user.id}}">
    <div class="form-group">
        <label for="u-username">ID</label>
        <p id="u-username">{{user.username}}</p>
    </div>
    <div class="form-group">
        <label for="u-nickname">닉네임</label>
        <input type="text" class="form-control" id="u-nickname" value="{{user.nickname}}">
        <span style="color: green">닉네임은 영어/숫자/한글 가능, 특수문자/공백 불가능, 3글자 이상 10글자 이하</span>
        <button type="button" class="btn btn-primary" id="btn-update-nickname">수정</button>
    </div>
    <div class="form-group">
        <label for="u-email">이메일</label>
        <input type="text" class="form-control" id="u-email" value="{{user.email}}"
               {{#social}}readonly>
                   <span>SNS 연동 회원은 이메일 직접 수정이 불가능합니다. 관리자한테 문의하세요.</span>
               {{/social}}
        {{^social}}
            >
            <button type="button" class="btn btn-success" id="btn-update-email">인증</button>
            <button type="button" class="btn btn-primary" id="btn-confirm-email" style="display: none">인증 완료</button>
        {{/social}}
    </div>
    <a href="/users/my-page" role="button" class="btn btn-secondary">취소</a>
</div>

{{>layout/footer}}