{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="save">
            {{#post}}
                <input type="hidden" id="id" value="{{id}}">
                <div class="title-area">
                    <input class="title" type="text" id="title" value="{{title}}" placeholder="제목을 입력하세요.">
                </div>
                <div class="content-area">
                    <textarea class="content" id="content" placeholder="내용을 입력하세요.">{{content}}</textarea>
                </div>
            {{/post}}
            <div class="btn-area">
                <button type="button" class="btn" id="btn-update">수정 완료</button>
                <a role="button" class="btn" href="/posts/read/{{id}}">취소</a>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/app/posts.js"></script>
{{>layout/footer}}