{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="read">
            {{#postWithReasons}}
            <div class="posts-area">
            {{#post}}
                <input type="hidden" id="id" value="{{id}}">
                <div class="title-area">
                    <div class="top-area">
                        <span class="date">
                            작성 {{createdDate}}{{#modifiedDate}} | 수정 {{modifiedDate}}{{/modifiedDate}}
                        </span>
                        <h1 class="title">
                            <span id="title">{{title}}</span>
                        </h1>
                    </div>
                    <div class="btm-area">
                        <div class="author dropdown" id="author" data-toggle="dropdown">{{author}}
                            <ul class="dropdown-menu">
                                <li><a href="/users/activity-history/posts/{{authorId}}" role="button" class="first{{#admin}} last{{/admin}}{{^admin}}{{#doesUserWritePost}} last{{/doesUserWritePost}}{{/admin}}" name="btn-history">활동 내역</a></li>
                                {{^admin}}{{^doesUserWritePost}}<li><a role="button" class="last" name="btn-report">신고</a></li>{{/doesUserWritePost}}{{/admin}}
                            </ul>
                        </div>
                        <div class="view">
                            <span style="padding-left: 10px">조회 수
                                <span style="padding-left: 2px" id="view">{{view}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <article>
                        <pre id="content">{{content}}</pre>
                    </article>
                </div>
                <div class="btn-area">
                    <a role="button" class="btn" style="float: left;" href="/">목록</a>
                    <button id="btn-posts-like" type="button" class="img-btn">
                        <img class="like_d {{#doesUserLikePost}}like_s_d{{/doesUserLikePost}}" alt="좋아요">
                    </button>
                    <span class="sum">{{likes}}</span>
                    <ul class="hidden-btn">
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown">∙∙∙</a>
                            <ul class="dropdown-menu">
                                {{^admin}}
                                    {{#doesUserWritePost}}<li><a role="button" class="first" href="/posts/update/{{id}}">수정</a></li>
                                    <li><a role="button" class="last" id="btn-delete">삭제</a></li>{{/doesUserWritePost}}
                                    {{^doesUserWritePost}}<li><a role="button" class="first last" name="btn-report">신고</a></li>{{/doesUserWritePost}}
                                {{/admin}}
                                {{#admin}}
                                    {{#doesUserWritePost}}<li><a role="button" class="first" href="/posts/update/{{id}}">수정</a></li>{{/doesUserWritePost}}
                                    <li><a role="button" class="{{^doesUserWritePost}}first {{/doesUserWritePost}}last" id="btn-delete">삭제</a></li>
                                {{/admin}}
                            </ul>
                        </li>
                    </ul>
                </div>
            {{/post}}
            </div>
            <div class="comments-area" id="comments-area">
<!--                댓글 표시 -->
            </div>
            <div id="report-popup-container" class="report-popup-container">
                <div id="report-popup" class="report-popup">
                    <p>신고하기</p>
                    <input type="hidden" id="reportId">
                    {{#reasons}}
                        <div class="reasons-area">
                            <input type="checkbox" id="reason{{id}}"><label for="reason{{id}}">{{detail}}</label>
                        </div>
                    {{/reasons}}
                    <textarea id="otherReasons" class="otherReasons" rows="3" placeholder="기타 사유를 입력하세요."></textarea>
                    <div class="btn-area">
                        <button type="button" class="btn" id="btn-posts-report" style="display: none;">신고</button>
                        <button type="button" class="btn" id="btn-cmt-report" style="display: none; margin-left: 0">신고</button>
                        <button type="button" class="btn" id="btn-user-report" style="display: none; margin-left: 0">신고</button>
                        <button type="button" class="btn" id="btn-report-cancel">취소</button>
                    </div>
                </div>
            </div>
            {{/postWithReasons}}
        </div>
    </div>
</div>

{{>layout/footer}}
<script type="module" src="/js/app/posts.js"></script>
<script src="/js/app/pages.js"></script>
</body>
</html>