{{>layout/header}}
    <div class="col-md-12">
        <div class="col-md-4">
            {{#post}}
            <form>
                <div>
                    <input type="hidden" id="id" value="{{id}}">
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{title}}" readonly>
                </div>
                <div class="form-group">
                    <label for="author">작성자</label>
                    <input type="text" class="form-control" id="author" value="{{author}}" readonly>
                </div>
                <div>
                    <label for="content">내용</label>
                    <pre id="content">{{content}}</pre>
                </div>
                <div class="form-group">
                    <label for="createdDate">작성일</label>
                    <input type="text" class="form-control" id="createdDate" value="{{createdDate}}" readonly>
                </div>
                <div class="form-group">
                    <label for="modifiedDate">수정일</label>
                    <input type="text" class="form-control" id="modifiedDate" value="{{modifiedDate}}" readonly>
                </div>
                <div class="form-group">
                    <label for="view">조회수</label>
                    <input type="text" class="form-control" id="view" value="{{view}}" readonly>
                </div>
            </form>
            {{/post}}
            <a href="/" role="button" class="btn btn-primary">돌아가기</a>
            {{#author}}
                <a href="/posts/update/{{id}}" role="button" class="btn btn-success">수정</a>
                <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
            {{/author}}
        </div>
        <p>댓글</p>
        {{#auth}}
            <p>{{auth}}</p>
            <input type="text" class="form-control" id="cmt-content" placeholder="댓글을 입력하세요.">
            <button type="button" class="btn btn-primary" id="btn-cmt-save">등록</button>
        {{/auth}}
        {{^auth}}
            <input type="text" class="form-control" id="cmt-content" placeholder="댓글을 입력하려면 로그인하세요." readonly>
        {{/auth}}
        <div>
            {{#comments}}
                <div id="cmt-{{id}}" class="collapse show">
                    <span>{{author}}</span>
                    {{#auth}}
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#cmt-{{id}}">수정</button>
                        <button type="button" class="btn btn-danger" name="btn-cmt-delete">삭제</button>
                    {{/auth}}
                    <div>
                        <span>작성 {{createdDate}}</span>
                        {{#modifiedDate}}<span>  수정 {{modifiedDate}}</span>{{/modifiedDate}}
                    </div>
                    <p>{{content}}</p>
                </div>
                <div id="cmt-{{id}}" class="collapse">
                    <span>{{author}}</span>
                    <input type="text" class="form-control" id="cmt-content-{{id}}" value="{{content}}">
                    <button type="button" class="btn btn-primary" name="btn-cmt-update">수정</button>
                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#cmt-{{id}}">취소</button>
                </div>
            {{/comments}}
        </div>
    </div>
{{>layout/footer}}