{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="read">
            <div class="posts-area">
            {{#post}}
                <input type="hidden" id="id" value="{{id}}">
                <div class="title-area">
                    <div class="top-area">
                        <span class="date">
                            작성 {{createdDate}}
                            {{#modifiedDate}}
                                | 수정 {{modifiedDate}}
                            {{/modifiedDate}}
                        </span>
                        <h1 class="title">
                            <span id="title">{{title}}</span>
                        </h1>
                    </div>
                    <div class="btm-area">
                        <div class="author dropdown" id="author" data-toggle="dropdown" data-user-id="{{authorId}}">{{author}}
                            <ul class="dropdown-menu">
                                {{^admin}}{{^pAuth}}
                                    <li><a role="button" class="first last" name="btn-report">신고</a></li>
                                {{/pAuth}}{{/admin}}
                            </ul>
                        </div>
                        <div class="view">
                            <span style="padding-left: 10px">조회 수
                                <span style="padding-left: 2px" id="view">{{view}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <article>
                        <pre id="content">{{content}}</pre>
                    </article>
                </div>
                <div class="btn-area">
                    <a role="button" class="btn" style="float: left;" href="/">목록</a>
                    <button id="btn-posts-like" type="button" class="img-btn">
                        <img class="like_d {{#lAuth}}like_s_d{{/lAuth}}" alt="좋아요">
                    </button>
                    <span class="sum">{{lSum}}</span>
                    {{/post}}
                    <ul class="hidden-btn">
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">∙∙∙</a>
                            <ul class="dropdown-menu">
                                {{^admin}}
                                    {{#pAuth}}<li><a role="button" class="first" href="/posts/update/{{id}}">수정</a></li>
                                    <li><a role="button" class="last" id="btn-delete">삭제</a></li>{{/pAuth}}
                                    {{^pAuth}}<li><a role="button" class="first last" name="btn-report">신고</a></li>{{/pAuth}}
                                {{/admin}}
                                {{#admin}}
                                    {{#pAuth}}<li><a role="button" class="first" href="/posts/update/{{id}}">수정</a></li>{{/pAuth}}
                                    <li><a role="button" class="{{^pAuth}}first {{/pAuth}}last" id="btn-delete">삭제</a></li>
                                {{/admin}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="comments-area">
                <div class="sum-area">
                {{#post}}
                    <span class="sum">댓글 {{cSum}}개</span>
                {{/post}}
                </div>
                <div class="comments-list">
                {{#comments}}
                    <div id="cmt-{{id}}">
                        <div class="comment">
                            <span class="author dropdown" id="author" data-toggle="dropdown" data-user-id="{{authorId}}">{{author}}
                                <ul class="dropdown-menu">
                                    {{^admin}}{{^pAuth}}
                                        <li><a role="button" class="first last" name="btn-report">신고</a></li>
                                    {{/pAuth}}{{/admin}}
                                </ul>
                            </span>
                            <div class="btn-area">
                                <button name="btn-cmts-like" type="button" class="img-btn">
                                    <img class="like_d {{#lAuth}}like_s_d{{/lAuth}}" alt="좋아요">
                                </button>
                                <span class="sum">{{lSum}}</span>
                                <ul class="hidden-btn">
                                    <li class="dropdown">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">∙∙∙</a>
                                        <ul class="dropdown-menu">
                                            {{^admin}}
                                                {{#cAuth}}<li><a role="button" class="first" name="btn-cmt-edit" href="#cmt-{{id}}">수정</a></li>
                                                <li><a role="button" class="last" name="btn-cmt-delete">삭제</a></li>{{/cAuth}}
                                                {{^cAuth}}<li><a role="button" class="first last" name="btn-report">신고</a></li>{{/cAuth}}
                                            {{/admin}}
                                            {{#admin}}
                                                {{#cAuth}}<li><a role="button" class="first" name="btn-cmt-edit" href="#cmt-{{id}}">수정</a></li>{{/cAuth}}
                                                <li><a role="button" class="{{^cAuth}}first {{/cAuth}}last" name="btn-cmt-delete">삭제</a></li>
                                            {{/admin}}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <pre>{{content}}</pre>
                            <span class="date">작성 {{createdDate}}{{#modifiedDate}} | 수정 {{modifiedDate}}{{/modifiedDate}}</span>
                        </div>
                    </div>
                {{/comments}}
                </div>
                <div class="comments-creation">
                    {{#auth}}<span class="author">{{auth}}</span>{{/auth}}
                    <textarea class="cmt-content" id="cmt-content"
                              placeholder={{#auth}}"댓글을 입력하세요."{{/auth}}
                                            {{^auth}}"댓글을 입력하려면 로그인하세요." disabled{{/auth}}
                              rows="4"></textarea>
                    <div class="btn-area">
                        <button type="button" class="btn" id="btn-cmt-save">등록</button>
                    </div>
                </div>
            </div>
            <div id="report-popup-container" class="report-popup-container">
                <div id="report-popup" class="report-popup">
                    <p>신고하기</p>
                    <input type="hidden" id="reportId">
                    {{#reasons}}
                        <div class="reasons-area">
                            <input type="checkbox" id="reason{{id}}"><label for="reason{{id}}">{{detail}}</label>
                        </div>
                    {{/reasons}}
                    <textarea id="otherReasons" class="otherReasons" rows="3" placeholder="기타 사유를 입력하세요."></textarea>
                    <div class="btn-area">
                        <button type="button" class="btn" id="btn-posts-report" style="display: none;">신고</button>
                        <button type="button" class="btn" id="btn-cmt-report" style="display: none; margin-left: 0">신고</button>
                        <button type="button" class="btn" id="btn-user-report" style="display: none; margin-left: 0">신고</button>
                        <button type="button" class="btn" id="btn-report-cancel">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
<script type="module" src="/js/app/posts.js"></script>
<script src="/js/app/comments.js"></script>
<script src="/js/app/likes.js"></script>
<script src="/js/app/reports.js"></script>
</body>
</html>