{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="my-page">
            <div class="title-area">
                <div class="top-area">
                    <a class="location" href="/"><img class="icon" src="/images/app/home.png" alt="HOME"></a>
                    <a class="location" href="/users/my-page">마이 페이지</a>
                    <span class="location">관리</span>
                    <a class="location" href="/admin/my-page/content-report">컨텐츠 신고</a>
                </div>
            </div>
            <div class="content-area">
                {{>layout/my-page-nav}}
                <div class="admin-area">
                    <div id="reports-area">
                        {{#contentsPage}}
                        <h2>컨텐츠 신고</h2>
                        <ul>
                            <li>
                                <a style="background-color: #C1DAC0;" href="/admin/my-page/content-report">전체</a></li><li>
                                <a href="/admin/my-page/content-report/posts">게시글</a></li><li>
                                <a href="/admin/my-page/content-report/comments">댓글</a></li><li>
                                <a href="/admin/my-page/content-report/users">사용자</a></li>
                        </ul>
                        <div class="checkbox-area">
                            <input type="checkbox" id="select-all"><label><a id="btn-delete-reports">삭제</a></label>
                            <span>전체 {{contents.totalElements}}개</span>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th class="type">분류</th>
                                <th class="content">신고 내용</th>
                                <th class="reporter">신고자</th>
                                <th class="date">신고일</th>
                                <th class="reason">사유</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{^contents.content}}
                                <tr>
                                    <td class="no-content" colspan="5">신고 내역이 없어요.</td>
                                </tr>
                            {{/contents.content}}
                            {{#contents.content}}
                                {{#postsListDto}} {{! 게시글 신고 }}
                                    <tr class="posts-area">
                                        <td><input type="checkbox"><label>{{type}}</label></td>
                                        <td>
                                            <div class="tit">
                                                <a href="/posts/read/{{id}}">{{title}}</a>
                                            </div>
                                            <span class="date">{{author}} | {{modifiedDate}}</span>
                                        </td>
                                        <td class="reporter">{{reporter}}</td>
                                        <td class="date">{{reportedDate}}</td>
                                        <td>
                                            <button class="img-btn" name="report-details"><img class="detail"></button>
                                            <span>{{reason}}</span>
                                        </td>
                                    </tr>
                                {{/postsListDto}}
                                {{#commentsListDto}} {{! 댓글 신고 }}
                                    <tr class="comments-area">
                                        <td><input type="checkbox"><label>{{type}}</label></td>
                                        <td>
                                            <a href="/posts/read/{{postsId}}#cmt-{{commentsId}}"><pre>{{content}}</pre></a>
                                            <span class="date">{{author}} | {{modifiedDate}}</span>
                                            <div class="tit">
                                                <a href="/posts/read/{{postsId}}">{{title}}</a>
                                            </div>
                                        </td>
                                        <td class="reporter">{{reporter}}</td>
                                        <td class="date">{{reportedDate}}</td>
                                        <td>
                                            <button class="img-btn" name="report-details"><img class="detail"></button>
                                            <span>{{reason}}</span>
                                        </td>
                                    </tr>
                                {{/commentsListDto}}
                                {{#usersListDto}} {{! 사용자 신고 }}
                                    <tr class="users-area">
                                        <td><input type="checkbox"><label>{{type}}</label></td>
                                        <td>
                                            <div><a href="/users/activity-history/posts/{{id}}">{{nickname}}</a></div>
                                            <span class="date">{{createdDate}}</span>
                                        </td>
                                        <td class="reporter">{{reporter}}</td>
                                        <td class="date">{{reportedDate}}</td>
                                        <td>
                                            <button class="img-btn" name="report-details"><img class="detail"></button>
                                            <span>{{reason}}</span>
                                        </td>
                                    </tr>
                                {{/usersListDto}}
                            {{/contents.content}}
                            </tbody>
                        </table>
                        {{>layout/pages}}
                        {{/contentsPage}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
<script src="/js/app/my-page.js"></script>
<script src="/js/app/pages.js"></script>
</body>
</html>