{{>layout/header}}

<h1>비밀번호 변경</h1>
<div>
    <div class="form-group">
        <label for="oldPassword">현재 비밀번호</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="비밀번호를 입력하세요">
        <span id="ch-oldPassword"></span>
    </div>
    <div class="form-group">
        <label for="password">새 비밀번호</label>
        <input type="password" class="form-control" id="password" placeholder="새 비밀번호를 입력하세요">
        <span style="color: green">비밀번호는 영어와 숫자 1개 이상 포함, 특수문자 가능, 한글/공백 불가능, 8글자 이상 20글자 이하</span>
        <span id="ch-password"></span>
    </div>
    <div class="form-group">
        <label for="confirmPassword">새 비밀번호 확인</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="새 비밀번호를 입력하세요">
        <span id="ch-confirmPassword"></span>
    </div>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-change-password">변경</button>
</div>

{{>layout/footer}}