{{>layout/header}}

<h1>회원 탈퇴</h1>
<div>
    <p>탈퇴하면 작성한 모든 글이 삭제됩니다.<p>
    <p>정말로 탈퇴하시겠어요 ? ㅜ.ㅜ</p>
</div>
<div>
    <a href="/users/my-page" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-danger" id="btn-delete-account">탈퇴</button>
</div>

{{>layout/footer}}