{{>layout/header}}

<h1>ID 찾기</h1>
<div>
    <label for="f-email">이메일</label>
    <input type="text" class="form-control" id="f-email">
</div>
<div>
    <a href="/users/sign-in" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-find-username">찾기</button>
</div>
<div>
    <span id="f-username" style="display: none"></span>
</div>

{{>layout/footer}}