{{>layout/header}}
    <h1>회원가입</h1>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="username">ID</label>
                    <input type="text" class="form-control" id="username" placeholder="ID를 입력하세요">
                    <span style="color: green">ID는 영어 소문자로 시작, 숫자 1개 이상 포함, 한글/특수문자/공백 불가능, 4글자 이상 20글자 이하</span>
                    <span id="ch-username"></span>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="text" class="form-control" id="password" placeholder="비밀번호를 입력하세요">
                    <span style="color: green">비밀번호는 영어와 숫자 1개 이상 포함, 특수문자 가능, 한글/공백 불가능, 8글자 이상 20글자 이하</span>
                    <span id="ch-password"></span>
                </div>
                <div class="form-group">
                    <label for="confirm-password">비밀번호 확인</label>
                    <input type="text" class="form-control" id="confirm-password" placeholder="비밀번호를 입력하세요">
                    <span id="ch-confirm-password"></span>
                </div>
                <div class="form-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" class="form-control" id="nickname" placeholder="닉네임을 입력하세요">
                    <span style="color: green">닉네임은 영어/숫자/한글 가능, 특수문자/공백 불가능, 3글자 이상 10글자 이하</span>
                    <span id="ch-nickname"></span>
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" id="email" placeholder="이메일을 입력하세요">
                    <span id="ch-email"></span>
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-sign-up">회원가입</button>
        </div>
    </div>
{{>layout/footer}}