{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="error">
            <div class="title-area">
                <div class="top-area">
                    <h1 class="title">403</h1>
                </div>
            </div>
            <div class="msg-area">
                <div>
                    <p>권한이 없습니다.</p>
                </div>
            </div>
            <div class="btn-area">
                <button type="button" class="btn" id="btn-back">돌아가기</button>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
</body>
</html>