{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="main">
            {{#contentsPage}}
                <table>
                    <tbody>
                    {{^contents.content}}
                        <tr><td class="no-content">글이 없어요.</td></tr>
                    {{/contents.content}}
                    {{#contents.content}}
                        <tr>
                            <td>
                                <div class="tit">
                                    <a class="tlink" href="/posts/read/{{id}}">{{title}}</a>
                                </div>
                                <span class="date">{{author}} | {{modifiedDate}} | <img class="view"> {{view}} | <img class="cmt"> {{comments}} | <img class="like"> {{likes}}</span>
                            </td>
                        </tr>
                    {{/contents.content}}
                    </tbody>
                </table>
                {{>layout/pages}}
            {{/contentsPage}}
        </div>
    </div>
</div>

{{>layout/footer}}
<script src="/js/app/pages.js"></script>
</body>
</html>