{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="main">
            {{#contentsPage}}
                <table>
                    <tbody>
                    {{^contents.content}}
                        <tr><td class="no-content">글이 없어요.</td></tr>
                    {{/contents.content}}
                    {{#contents.content}}
                        <tr>
                            <td>
                                <div class="tit">
                                    <a class="tlink" href="/posts/read/{{id}}">{{title}}</a>
                                </div>
                                <span class="date">{{author}} | {{modifiedDate}} | <img class="view"> {{view}} | <img class="cmt"> {{comments}} | <img class="like"> {{likes}}</span>
                            </td>
                        </tr>
                    {{/contents.content}}
                    </tbody>
                </table>
                {{#pages}}
                    <div>
                        {{#hasPrevious}}
                            첫 페이지: <a role="button" name="page" style="cursor: pointer;">{{firstPage}}</a> | 이전 페이지: <a role="button" name="page" style="cursor: pointer;">{{previousPage}}</a> |
                        {{/hasPrevious}}
                        {{#displayPages}}
                            {{#isCurrentPage}}
                                | 현재 페이지: {{page}}
                            {{/isCurrentPage}}
                            {{^isCurrentPage}}
                                | <a role="button" name="page" style="cursor: pointer;">{{page}}</a>
                            {{/isCurrentPage}}
                        {{/displayPages}}
                        {{#hasNext}}
                            | | 다음 페이지: <a role="button" name="page" style="cursor: pointer;">{{nextPage}}</a> | 마지막 페이지: <a role="button" name="page" style="cursor: pointer;">{{lastPage}}</a>
                        {{/hasNext}}
                    </div>
                {{/pages}}
            {{/contentsPage}}
        </div>
    </div>
</div>

{{>layout/footer}}
<script type="module" src="/js/app/posts.js"></script>
</body>
</html>