{{>layout/header}}

<div id="container">
    <div class="wrapper">
        <div class="my-page">
            <div class="title-area">
                <div class="top-area">
                    <a class="location" href="/"><img class="icon" src="/images/app/home.png" alt="HOME"></a>
                    <span class="location">활동 내역</span>
                </div>
            </div>
            <div class="content-area">
                <div class="activity-history-area">
                    {{#history}}
                        <h2><a href="/users/activity-history/posts/{{usersListDto.id}}">{{usersListDto.nickname}}</a> 님의 활동 내역</h2>
                        <div class="top-area">
                            <p>가입일: {{usersListDto.createdDate}}</p>
                            <p>작성 글: {{commentsHistoryDto.numberOfPosts}}</p>
                            <p>작성 댓글: {{commentsHistoryDto.numberOfComments}}</p>
                            {{#admin}}
                            <p>누적 신고 횟수: {{#numberOfReports}}{{key}}({{value}}) {{/numberOfReports}}</p>
                            <p class="user-ban">누적 정지 횟수: {{^bannedHistoryDto}}0{{/bannedHistoryDto}}{{#bannedHistoryDto}}{{count}} ({{period}}, {{startedDate}} ~ {{expiredDate}}){{/bannedHistoryDto}}</p>
                            <div class="btn-area">
                                <button type="button" class="btn" id="btn-user-ban">활동 정지</button>
                            </div>
                            {{/admin}}
                        </div>
                        {{#commentsHistoryDto}}
                        <div class="comments-area">
                            <ul>
                                <li>
                                    <a href="/users/activity-history/posts/{{usersListDto.id}}">게시글</a></li><li>
                                <a style="background-color: #C1DAC0;" href="/users/activity-history/comments/{{usersListDto.id}}">댓글</a></li>
                            </ul>
                            {{#contentsPage}}
                            <table>
                                <thead>
                                <tr>
                                    <th class="no">번호</th>
                                    <th class="cmt">댓글</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{^contents.content}}
                                    <tr>
                                        <td class="no-content" colspan="2">작성한 댓글이 없어요.</td>
                                    </tr>
                                {{/contents.content}}
                                {{#contents.content}}
                                    <tr>
                                        <td class="no-checkbox">{{commentsId}}</td>
                                        <td>
                                            <a href="/posts/read/{{postsId}}#cmt-{{commentsId}}"><pre>{{content}}</pre></a>
                                            <span class="date">{{author}} | {{modifiedDate}} | <img class="like"> {{likes}}</span>
                                            <div class="tit">
                                                <a href="/posts/read/{{postsId}}">{{title}}</a>
                                            </div>
                                        </td>
                                    </tr>
                                {{/contents.content}}
                                </tbody>
                            </table>
                            {{#pages}}
                                <div>
                                    {{#hasPrevious}}
                                        첫 페이지: <a role="button" name="page" style="cursor: pointer;">{{firstPage}}</a> | 이전 페이지: <a role="button" name="page" style="cursor: pointer;">{{previousPage}}</a> |
                                    {{/hasPrevious}}
                                    {{#displayPages}}
                                        {{#isCurrentPage}}
                                            | 현재 페이지: {{page}}
                                        {{/isCurrentPage}}
                                        {{^isCurrentPage}}
                                            | <a role="button" name="page" style="cursor: pointer;">{{page}}</a>
                                        {{/isCurrentPage}}
                                    {{/displayPages}}
                                    {{#hasNext}}
                                        | | 다음 페이지: <a role="button" name="page" style="cursor: pointer;">{{nextPage}}</a> | 마지막 페이지: <a role="button" name="page" style="cursor: pointer;">{{lastPage}}</a>
                                    {{/hasNext}}
                                </div>
                            {{/pages}}
                            {{/contentsPage}}
                        </div>
                        {{/commentsHistoryDto}}
                    </div>
                    {{/history}}
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
<script src="/js/app/my-page.js"></script>
<script src="/js/app/pages.js"></script>
</body>
</html>